/* general */

body {
    margin: 0;
    padding: 0;
}
.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}
.flexBox {
    display: flex;
    align-items: center;
}
/* home */

/* blog */
.blogPost {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.bPContent {
    width: 40%;
    padding-left: .5em;
}
/* work */

/* contact */

.contactContainer {
margin: 1em;
}

.inputContainer {

}