/* general */

body {
    margin: 0;
    padding: 0;
}
.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}
.flexbox {
    display: flex;
    align-items: center;
}
/* home */
.banner {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.banner .imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.banner .content {
    width: 40%;
    padding-left: .5em;
}
/* blog */
.blogPost {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.blogPost .imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.blogPost .content {
    width: 40%;
    padding-left: .5em;
}
/* work */

/* contact */

.contactContainer {
margin: 1em;
}

.formContainer {
    background-color:rgb(236, 233, 233);
    padding: 1em;
    

}
.inputContainer {
}

.inputContainer input {
    width: 33%;
}
.inputContainer textarea {
    width: 50%;
    height: 10em;
}
.inputContainer p {
    padding-left: -100px;
}

.error {
    color: red
}