/* general */

body, button, input  {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}
.flexbox {
    display: flex;
    align-items: center;
}
/* home */
.banner {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.banner .imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.banner .content {
    width: 40%;
    padding-left: .5em;
}


/* blog */
.blog {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.blog .imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.blog .content {
    width: 40%;
    padding-left: .5em;
}

.readMore {
    background-color: black;
    border-radius: .5em;
    color: white;
    width: 10em;
    text-align: center;
}

.readMore:hover {
    color: rgb(250, 197, 117);
}

/* about */
.about img {
    height: 400px;
    border-radius: 5%
}
/* contact */

.contactContainer {
    margin: 1em;
}
.contactTitle {
    border-bottom: 2px solid black;

}
.contactContainer h1 {
    margin-left: .5em;
    font-weight: normal;
    }

.formContainer {
    background-color:rgb(236, 233, 233);
    border: 3px solid rgb(236, 233, 233);
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em; 
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
.inputContainer {

}

.inputContainer input {
    width:55%;
}
.inputContainer textarea {
    width: 70%;
    height: 10em;
}
.inputContainer p {
    padding-left: -100px;
}

.formContainer .error {
    color: red
}

.formContainer .submit {
padding-top: 1em;
}

.formContainer .submit input {
    width: 5em;
}