.headerTitle {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}
.navContainer {
    display:inline-flex
}

.homeContainer {

}

.linksContainer {
align-content: flex-end;
}