/* general */

body, button, input  {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid black;
}
.flexbox {
    display: flex;
    align-items: center;
}
/* home */
.banner {
    margin: .5em;
    padding: .5em;
}
.banner .imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
}

.banner .content {
    width: 40%;
    padding-left: .5em;
}

.banner .content p {
    border-bottom: 2px solid black;
}
.readMore {
    background-color: black;
    color: white;
    padding: .5em;
    border: 3px solid black;
    border-radius: 2em;
    transition: all 100ms ease-out;
}

.readMore:hover {
    color:rgb(102, 101, 101) ;
}


/* blog */
.blog {
    margin: .5em;
    padding: .5em;
    border: 3px solid black;
}
.blog .imageContainer {
    width: 45%;
    height: auto;
    overflow: hidden;
}

.blog .content {
    width: 55%;
    padding-left: .5em;
    padding-right: 1em;
}

.blog .content h3 {
font-weight: normal;
text-decoration: underline;}
.blog .content p{
    padding-bottom: .5em;
    border-bottom: 2px solid black;
}

.blog .content a {
    font-weight: bold;
    text-decoration: underline;
}
.blog img {
    border: 2px solid black;
}


/* about */
.about img {
    height: 400px;
    border-radius: 5%;

}
.profilePic {
    padding-top: 1em;
    display: block;
    text-align: center;
}

.resume {
    background-color: black;
    color: white;
    padding: .5em;
    border: 3px solid black;
    border-radius: 2em;
    margin: 1em;
}

.resume:hover {
    color:rgb(102, 101, 101) ;
}

.instaContainer {
    border-top: 5px solid black ;
}
/* contact */

.contactContainer {
    margin: 1em;
}
.contactTitle {
    border-bottom: 2px solid black;

}
.contactContainer h1 {
    margin-left: .5em;
    font-weight: normal;
    }

.formContainer {
    background-color:rgb(236, 233, 233);
    border: 3px solid rgb(236, 233, 233);
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em; 
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
.inputContainer {

}

.inputContainer input {
    width:55%;
}
.inputContainer textarea {
    width: 70%;
    height: 10em;
}
.inputContainer p {
    padding-left: -100px;
}

.formContainer .error {
    color: red
}

.formContainer .submit {
padding-top: 1em;
}

.formContainer .submit input {
    width: 5em;
}